/* Global */
*{
	margin:0;
	padding:0;
	font-family: "Arial";
}
body{
	background-color: #F8F8F8;
}
a{
	text-decoration: none;
}
h2{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Navbar */
nav{
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
}
nav div{
	display: flex;
	justify-content: space-between;
}
nav ul{
	list-style-type:none;
	padding:0;
}
nav a{
	text-decoration:none;
	text-align:center;
	display:block;
	padding:10px;
	color:#fff;
	font-size:25px;
}
nav a:hover{
	background-color:#555;
}
nav ul{
	display:flex;
}
.scrolled{
	color: black;
	background-color: white;
}

/* Header */
header{
	background-image: url("../img/header_blur.png");
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
	padding-top: 4em;
	padding-bottom: 4em;
	font-weight: bold;
	font-size: 60px;
	overflow: auto;
}

/* Skillset */
#skillset div img{
	width: 100px;
	height: 100px;
}
#skillset{
	text-align: center;
}
#skillset div{
	display: flex;
	justify-content: center;
	align-items: center;
}
#skillset a{
	background-color: #327FC7;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	margin-top: 30px;
}
#skillset a:hover{
	background-color: #5BC0DE;
}




.text-center{
	text-align: center;
}
.flex{
	display: flex;
	justify-content: space-between;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
#asterisk{
	font-size: 10px;
	margin-top: 30px;
}



