#jumbotron {
    background-image: url("../img/gradient.png");
}

#jumbotron div {
    margin-top: 2em;
    margin-bottom: 2em;
}

#jumbotron div {
    padding-top: 4em;
    padding-bottom: 4em;
}

#skillset div {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#skillset div div img {
	width: 100px;
	height: 100px;
}

@media screen and (max-width: 1200px) {
    #git,#jquery, #less, #vim {
        display: none;
    }
}

@media screen and (max-width: 990px) {
     #bootstrap, #c, #vs, #linux{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #jumbotron div {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    #skillset div div img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width : 530px) {
    #skillset div div img {
        width: 65px;
        height: 65px;
    }
}

@media only screen and (max-width : 480px) {
    #jumbotron div {
        padding-top: 0em;
        padding-bottom: 0em;
    }
    #jumbotron div h1 {
        font-size: 2em;
    }
    #jumbotron div h2 {
        font-size: 1.5em;
    }
    #jumbotron div h3 {
        font-size: 1.1em;
    }
    #skillset div div img {
        width: 45px;
        height: 45px;
    }
}